html {
  background-color: rgb(240, 164, 98); /* Set the background color */
}

canvas {
  display: block;
  margin-top: 0px;
  margin-left: 30px;
  padding-bottom: 150px;

}

/*Start algorithm button*/
.start-button {
  position: absolute;
  top: 500px;
  left: 960px;
  padding: 20px 30px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
}

/*Change layout button*/
.change-button {
  position: absolute;
  top: 500px;
  left: 1195px;
  padding: 20px 30px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
}


/*Open info button*/
.modal-button {
  position: absolute;
  top: 640px;
  left: 960px;
  padding: 20px 175px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
}

.content {
  background-color: rgb(240, 164, 98);
  font-family: Arial, sans-serif;
  color: #3358ad;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.7em;
}

h2 {
  font-size: 2.3em;
}

h3{
  padding-top: 20px;
  margin-left: 450px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.message {
  margin-top: 5px;
  padding-left: 590px;
  font-size: 1.5em;
  color: #ff0000;
}


.mainblock{
  position: relative;
  font-family: Arial, sans-serif;
  background-color: #3e8fd7;
  padding: 0px;
  margin: 0px;
}

.font{
  font-family: 'Bitter' !important;
  color: aliceblue;
  font-weight:bolder
}

.font1{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(7, 62, 94);
}

.img{
  border-radius: 26%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}





/* Style for the info box */
.info-box {
  background-color: #f0f0f0; /* Grey background */
  border: 4px solid #3e8fd7; /* Blue border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  width: 390px; /* Set width to fit the content */
  margin-left: 310px;
}


/* List style for the color explanation */
.info-box ul {
  list-style-type: none;
  padding: 0;
}

.info-box ul li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* Style for the color samples */
.color-sample {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Specific colors for each sample */
.closed-cell {
  border-radius: 0; /* Remove border-radius for square */
  background-color: #fcee21; /* Light Yellow for Closed Cells */
}

.open-cell {
  border-radius: 0; /* Remove border-radius for square */
  background-color: #82ff5c; /* Light Green for Open Cells */
}

.path-line {
  border-radius: 50%;
  background-color: #ff7d41; /* Orange for Path Line */
}


